USE [master]
GO
/****** Object:  Database [damanat_pms]    Script Date: 4/14/2026 3:30:43 PM ******/
CREATE DATABASE [damanat_pms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'damanat_pms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\damanat_pms.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'damanat_pms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\damanat_pms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [damanat_pms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [damanat_pms]
GO
USE [damanat_pms]
GO
/****** Object:  Table [dbo].[alembic_version]    Script Date: 4/14/2026 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alembic_version](
	[version_num] [varchar](32) NOT NULL,
 CONSTRAINT [alembic_version_pkc] PRIMARY KEY CLUSTERED 
(
	[version_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[alerts]    Script Date: 4/14/2026 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alerts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[alert_type] [varchar](50) NOT NULL,
	[camera_id] [varchar](50) NOT NULL,
	[zone_id] [varchar](100) NULL,
	[zone_name] [varchar](100) NULL,
	[region_id] [int] NULL,
	[slot_number] [varchar](100) NULL,
	[event_type] [varchar](100) NULL,
	[description] [varchar](max) NULL,
	[snapshot_path] [varchar](max) NULL,
	[is_test] [bit] NOT NULL,
	[is_resolved] [bit] NOT NULL,
	[triggered_at] [datetime] NOT NULL,
	[resolved_at] [datetime] NULL,
	[plate_number] [varchar](50) NULL,
	[severity] [varchar](20) NOT NULL,
	[location_display] [varchar](255) NULL,
	[slot_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entry_exit_log]    Script Date: 4/14/2026 3:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entry_exit_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plate_number] [varchar](50) NOT NULL,
	[vehicle_id] [int] NULL,
	[vehicle_type] [varchar](50) NULL,
	[gate] [varchar](20) NOT NULL,
	[camera_id] [varchar](50) NOT NULL,
	[event_time] [datetime] NOT NULL,
	[parking_duration] [int] NULL,
	[snapshot_path] [varchar](max) NULL,
	[matched_entry_id] [int] NULL,
	[is_test] [bit] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[intrusions]    Script Date: 4/14/2026 3:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[intrusions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[slot_id] [varchar](50) NOT NULL,
	[plate_number] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[detected_at] [datetime] NULL,
	[resolved_at] [datetime] NULL,
	[camera_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking_sessions]    Script Date: 4/14/2026 3:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking_sessions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plate_number] [varchar](50) NOT NULL,
	[vehicle_id] [int] NULL,
	[vehicle_type] [varchar](50) NULL,
	[is_employee] [bit] NOT NULL,
	[entry_time] [datetime] NOT NULL,
	[exit_time] [datetime] NULL,
	[duration_seconds] [int] NULL,
	[entry_camera_id] [varchar](50) NOT NULL,
	[exit_camera_id] [varchar](50) NULL,
	[entry_snapshot_path] [varchar](max) NULL,
	[exit_snapshot_path] [varchar](max) NULL,
	[floor] [varchar](50) NULL,
	[zone_id] [varchar](100) NULL,
	[zone_name] [varchar](100) NULL,
	[slot_number] [varchar](100) NULL,
	[parked_at] [datetime] NULL,
	[slot_left_at] [datetime] NULL,
	[slot_camera_id] [varchar](50) NULL,
	[slot_snapshot_path] [varchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[slot_id] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parking_slots]    Script Date: 4/14/2026 3:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parking_slots](
	[slot_id] [varchar](50) NOT NULL,
	[slot_name] [varchar](100) NULL,
	[floor] [varchar](50) NULL,
	[polygon] [nvarchar](max) NULL,
	[is_available] [bit] NULL,
	[is_violation_zone] [bit] NULL,
	[zone_id] [varchar](100) NULL,
	[zone_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slot_status]    Script Date: 4/14/2026 3:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slot_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[slot_id] [varchar](50) NOT NULL,
	[plate_number] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vehicles]    Script Date: 4/14/2026 3:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plate_number] [varchar](50) NOT NULL,
	[owner_name] [varchar](200) NOT NULL,
	[vehicle_type] [varchar](50) NOT NULL,
	[employee_id] [varchar](100) NULL,
	[is_registered] [bit] NOT NULL,
	[registered_at] [datetime] NULL,
	[notes] [varchar](max) NULL,
	[title] [varchar](50) NOT NULL,
	[is_employee] [bit] NOT NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zone_occupancy]    Script Date: 4/14/2026 3:30:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zone_occupancy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[zone_id] [varchar](100) NOT NULL,
	[camera_id] [varchar](50) NOT NULL,
	[current_count] [int] NOT NULL,
	[max_capacity] [int] NOT NULL,
	[last_updated] [datetime] NULL,
	[zone_name] [varchar](100) NULL,
	[floor] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[alembic_version] ([version_num]) VALUES (N'7a8b9c0d1e2f')
SET IDENTITY_INSERT [dbo].[alerts] ON 

INSERT [dbo].[alerts] ([id], [alert_type], [camera_id], [zone_id], [zone_name], [region_id], [slot_number], [event_type], [description], [snapshot_path], [is_test], [is_resolved], [triggered_at], [resolved_at], [plate_number], [severity], [location_display], [slot_id]) VALUES (1, N'unknown_vehicle', N'CAM-ENTRY', N'entry', N'entry', NULL, NULL, N'AccessControllerEvent', N'Unregistered vehicle at entry gate: plate EEB-80', NULL, 0, 1, CAST(N'2026-04-01T06:24:07.997' AS DateTime), CAST(N'2026-04-12T13:32:10.850' AS DateTime), NULL, N'warning', NULL, NULL)
INSERT [dbo].[alerts] ([id], [alert_type], [camera_id], [zone_id], [zone_name], [region_id], [slot_number], [event_type], [description], [snapshot_path], [is_test], [is_resolved], [triggered_at], [resolved_at], [plate_number], [severity], [location_display], [slot_id]) VALUES (2, N'unknown_vehicle', N'CAM-ENTRY', N'entry', N'entry', NULL, NULL, N'AccessControllerEvent', N'Unregistered vehicle at entry gate: plate SHR-1198', NULL, 0, 1, CAST(N'2026-04-01T06:34:44.097' AS DateTime), CAST(N'2026-04-12T13:32:13.397' AS DateTime), NULL, N'warning', NULL, NULL)
INSERT [dbo].[alerts] ([id], [alert_type], [camera_id], [zone_id], [zone_name], [region_id], [slot_number], [event_type], [description], [snapshot_path], [is_test], [is_resolved], [triggered_at], [resolved_at], [plate_number], [severity], [location_display], [slot_id]) VALUES (3, N'unknown_vehicle', N'CAM-ENTRY', N'entry', N'entry', NULL, NULL, N'AccessControllerEvent', N'Unregistered vehicle at entry gate: plate BGD-7593', NULL, 0, 1, CAST(N'2026-04-01T06:37:32.143' AS DateTime), CAST(N'2026-04-12T13:32:15.370' AS DateTime), NULL, N'warning', NULL, NULL)
SET IDENTITY_INSERT [dbo].[alerts] OFF
SET IDENTITY_INSERT [dbo].[entry_exit_log] ON 

INSERT [dbo].[entry_exit_log] ([id], [plate_number], [vehicle_id], [vehicle_type], [gate], [camera_id], [event_time], [parking_duration], [snapshot_path], [matched_entry_id], [is_test], [created_at]) VALUES (1, N'EEB-80', NULL, N'unknown', N'entry', N'CAM-ENTRY', CAST(N'2026-04-01T09:24:05.000' AS DateTime), NULL, NULL, NULL, 0, CAST(N'2026-04-01T06:24:07.993' AS DateTime))
INSERT [dbo].[entry_exit_log] ([id], [plate_number], [vehicle_id], [vehicle_type], [gate], [camera_id], [event_time], [parking_duration], [snapshot_path], [matched_entry_id], [is_test], [created_at]) VALUES (2, N'SHR-1198', NULL, N'unknown', N'entry', N'CAM-ENTRY', CAST(N'2026-04-01T09:34:42.000' AS DateTime), NULL, NULL, NULL, 0, CAST(N'2026-04-01T06:34:44.093' AS DateTime))
INSERT [dbo].[entry_exit_log] ([id], [plate_number], [vehicle_id], [vehicle_type], [gate], [camera_id], [event_time], [parking_duration], [snapshot_path], [matched_entry_id], [is_test], [created_at]) VALUES (3, N'BGD-7593', NULL, N'unknown', N'entry', N'CAM-ENTRY', CAST(N'2026-04-01T09:37:30.000' AS DateTime), NULL, NULL, NULL, 0, CAST(N'2026-04-01T06:37:32.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[entry_exit_log] OFF
SET IDENTITY_INSERT [dbo].[intrusions] ON 

INSERT [dbo].[intrusions] ([id], [slot_id], [plate_number], [status], [detected_at], [resolved_at], [camera_id]) VALUES (1, N'V2_Violation_2', N'', N'resolved', CAST(N'2026-03-30T14:35:56.557' AS DateTime), CAST(N'2026-03-30T15:08:48.753' AS DateTime), NULL)
INSERT [dbo].[intrusions] ([id], [slot_id], [plate_number], [status], [detected_at], [resolved_at], [camera_id]) VALUES (2, N'V1_Violation_1', N'', N'resolved', CAST(N'2026-03-30T14:35:57.067' AS DateTime), CAST(N'2026-03-30T15:08:32.213' AS DateTime), NULL)
INSERT [dbo].[intrusions] ([id], [slot_id], [plate_number], [status], [detected_at], [resolved_at], [camera_id]) VALUES (3, N'V1_Violation_1', N'', N'resolved', CAST(N'2026-03-30T15:08:35.617' AS DateTime), CAST(N'2026-03-31T10:27:09.937' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[intrusions] OFF
SET IDENTITY_INSERT [dbo].[parking_sessions] ON 

SET IDENTITY_INSERT [dbo].[parking_sessions] OFF
INSERT [dbo].[parking_slots] ([slot_id], [slot_name], [floor], [polygon], [is_available], [is_violation_zone], [zone_id], [zone_name]) VALUES (N'B1_CRO', N'Slot B1 CRO', N'B1', N'[[329.0, 97.0], [277.0, 28.0], [381.0, 14.0], [477.0, 76.0], [329.0, 97.0]]', 1, 0, N'B1-PARKING', N'B1-PARKING')
INSERT [dbo].[parking_slots] ([slot_id], [slot_name], [floor], [polygon], [is_available], [is_violation_zone], [zone_id], [zone_name]) VALUES (N'B10_CTO', N'Slot B10 CTO', N'B1', N'[[316.0, 118.0], [418.0, 98.0], [409.0, 150.0], [390.0, 160.0], [316.0, 118.0]]', 1, 0, N'B1-PARKING', N'B1-PARKING')
INSERT [dbo].[parking_slots] ([slot_id], [slot_name], [floor], [polygon], [is_available], [is_violation_zone], [zone_id], [zone_name]) VALUES (N'B11_CFO', N'Slot B11_CFO', N'B1', N'[[573.0, 126.0], [640.0, 136.0], [614.0, 96.0], [554.0, 84.0], [573.0, 126.0]]', 0, 0, N'B1-PARKING', N'B1-PARKING')
SET IDENTITY_INSERT [dbo].[slot_status] ON 

INSERT [dbo].[slot_status] ([id], [slot_id], [plate_number], [status], [time]) VALUES (1, N'B10_CTO', N'', N'occupied', CAST(N'2026-03-30T14:35:52.627' AS DateTime))
INSERT [dbo].[slot_status] ([id], [slot_id], [plate_number], [status], [time]) VALUES (2, N'B9', N'', N'occupied', CAST(N'2026-03-30T14:35:52.750' AS DateTime))
INSERT [dbo].[slot_status] ([id], [slot_id], [plate_number], [status], [time]) VALUES (3, N'V2_Violation_2', N'', N'occupied', CAST(N'2026-03-30T14:35:56.567' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[slot_status] OFF
SET IDENTITY_INSERT [dbo].[vehicles] ON 

INSERT [dbo].[vehicles] ([id], [plate_number], [owner_name], [vehicle_type], [employee_id], [is_registered], [registered_at], [notes], [title], [is_employee], [phone], [email]) VALUES (9, N'ZXY-123', N'Ahmed alaa', N'sedan', N'452', 1, CAST(N'2026-04-13T01:21:54.437' AS DateTime), N'good', N'eng.', 1, NULL, NULL)
INSERT [dbo].[vehicles] ([id], [plate_number], [owner_name], [vehicle_type], [employee_id], [is_registered], [registered_at], [notes], [title], [is_employee], [phone], [email]) VALUES (10, N'cdf-123', N'Mohamed Henaish', N'cross', N'emp-2', 1, CAST(N'2026-04-13T10:17:29.103' AS DateTime), N'good', N'eng.', 1, NULL, NULL)
INSERT [dbo].[vehicles] ([id], [plate_number], [owner_name], [vehicle_type], [employee_id], [is_registered], [registered_at], [notes], [title], [is_employee], [phone], [email]) VALUES (11, N'kgh-587', N'mohamed gamal', N'suv', N'875', 1, CAST(N'2026-04-14T12:56:19.080' AS DateTime), N'good', N'eng.', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[vehicles] OFF
SET IDENTITY_INSERT [dbo].[zone_occupancy] ON 

INSERT [dbo].[zone_occupancy] ([id], [zone_id], [camera_id], [current_count], [max_capacity], [last_updated], [zone_name], [floor]) VALUES (1, N'GARAGE-TOTAL', N'CAM-03', 15, 18, CAST(N'2026-04-13T06:10:46.333' AS DateTime), N'Garage Total', N'ALL')
INSERT [dbo].[zone_occupancy] ([id], [zone_id], [camera_id], [current_count], [max_capacity], [last_updated], [zone_name], [floor]) VALUES (2, N'B1-PARKING', N'CAM-03', 2, 9, CAST(N'2026-04-14T10:27:59.957' AS DateTime), N'B1 Parking', N'B1')
INSERT [dbo].[zone_occupancy] ([id], [zone_id], [camera_id], [current_count], [max_capacity], [last_updated], [zone_name], [floor]) VALUES (3, N'B2-PARKING', N'CAM-09', 13, 9, CAST(N'2026-04-14T10:27:59.963' AS DateTime), N'B2 Parking', N'B2')
SET IDENTITY_INSERT [dbo].[zone_occupancy] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_alerts_alert_type]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_alerts_alert_type] ON [dbo].[alerts]
(
	[alert_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_alerts_slot_id]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_alerts_slot_id] ON [dbo].[alerts]
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_alerts_triggered_at]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_alerts_triggered_at] ON [dbo].[alerts]
(
	[triggered_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_entry_exit_log_event_time]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_entry_exit_log_event_time] ON [dbo].[entry_exit_log]
(
	[event_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_entry_exit_log_plate_number]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_entry_exit_log_plate_number] ON [dbo].[entry_exit_log]
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_intrusions_id]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_intrusions_id] ON [dbo].[intrusions]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_intrusions_plate_number]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_intrusions_plate_number] ON [dbo].[intrusions]
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_parking_sessions_entry_time]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_sessions_entry_time] ON [dbo].[parking_sessions]
(
	[entry_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_parking_sessions_exit_time]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_sessions_exit_time] ON [dbo].[parking_sessions]
(
	[exit_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_parking_sessions_plate_number]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_sessions_plate_number] ON [dbo].[parking_sessions]
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_parking_sessions_slot_id]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_sessions_slot_id] ON [dbo].[parking_sessions]
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_parking_sessions_status]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_sessions_status] ON [dbo].[parking_sessions]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_parking_sessions_zone_id]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_sessions_zone_id] ON [dbo].[parking_sessions]
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_parking_slots_floor]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_slots_floor] ON [dbo].[parking_slots]
(
	[floor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_parking_slots_slot_id]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_slots_slot_id] ON [dbo].[parking_slots]
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_parking_slots_slot_name]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_parking_slots_slot_name] ON [dbo].[parking_slots]
(
	[slot_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_slot_status_id]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_slot_status_id] ON [dbo].[slot_status]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_slot_status_plate_number]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE NONCLUSTERED INDEX [ix_slot_status_plate_number] ON [dbo].[slot_status]
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_vehicles_plate_number]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_vehicles_plate_number] ON [dbo].[vehicles]
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_zone_occupancy_zone_id]    Script Date: 4/14/2026 3:30:44 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ix_zone_occupancy_zone_id] ON [dbo].[zone_occupancy]
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alerts]  WITH CHECK ADD  CONSTRAINT [fk_alerts_slot_id] FOREIGN KEY([slot_id])
REFERENCES [dbo].[parking_slots] ([slot_id])
GO
ALTER TABLE [dbo].[alerts] CHECK CONSTRAINT [fk_alerts_slot_id]
GO
ALTER TABLE [dbo].[entry_exit_log]  WITH CHECK ADD FOREIGN KEY([matched_entry_id])
REFERENCES [dbo].[entry_exit_log] ([id])
GO
ALTER TABLE [dbo].[entry_exit_log]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[entry_exit_log]  WITH CHECK ADD  CONSTRAINT [fk_entry_exit_log_matched_entry_id] FOREIGN KEY([matched_entry_id])
REFERENCES [dbo].[entry_exit_log] ([id])
GO
ALTER TABLE [dbo].[entry_exit_log] CHECK CONSTRAINT [fk_entry_exit_log_matched_entry_id]
GO
ALTER TABLE [dbo].[entry_exit_log]  WITH CHECK ADD  CONSTRAINT [fk_entry_exit_log_vehicle_id] FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[entry_exit_log] CHECK CONSTRAINT [fk_entry_exit_log_vehicle_id]
GO
ALTER TABLE [dbo].[intrusions]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[parking_slots] ([slot_id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[vehicles] ([id])
GO
ALTER TABLE [dbo].[parking_sessions]  WITH CHECK ADD  CONSTRAINT [fk_parking_sessions_slot_id] FOREIGN KEY([slot_id])
REFERENCES [dbo].[parking_slots] ([slot_id])
GO
ALTER TABLE [dbo].[parking_sessions] CHECK CONSTRAINT [fk_parking_sessions_slot_id]
GO
ALTER TABLE [dbo].[slot_status]  WITH CHECK ADD FOREIGN KEY([slot_id])
REFERENCES [dbo].[parking_slots] ([slot_id])
GO
USE [master]
GO
